<app-loading *ngIf="isLoading"></app-loading>
<div class="routerOutlet">
    <div class="routerContent">
        <mat-card>
            <form (submit)="onSubmitHandler()" #noteTempDrv="ngForm">
            
             
              <mat-form-field class="full-width-form" [appearance]="previewOnly && 'fill'">
                <mat-label>Enter Note Title</mat-label>
                <input  
                  matInput 
                  placeholder=""
                  ngModel
                  required
                  #title="ngModel"
                  name="title"
                  [disabled]="previewOnly"
                >
                <mat-error *ngIf="!title.valid && title.touched">
                  This Field Cant be Empty, Enter Title
                </mat-error>
              </mat-form-field>
        
            <mat-card-content>
              <mat-form-field class="full-width-form" [appearance]="previewOnly && 'fill'">
                <mat-label>Your Note / Other Information</mat-label>
                <textarea
                  rows="8" 
                  matInput
                  ngModel
                  required
                  name="content"
                  #content="ngModel"
                  [disabled]="previewOnly"
                >
                </textarea>
                <mat-error *ngIf="!content.valid && content.touched">
                  This Field Cant be Empty, Enter Content
                </mat-error>
              </mat-form-field>
            </mat-card-content>
            <div *ngIf="!previewOnly">
              <button 
                [disabled]="!noteTempDrv.valid"
                type="submit" 
                mat-raised-button 
                color="primary">
                  Update
              </button>
              &nbsp;
              <button 
                type="button" 
                mat-raised-button 
                color="accent">
                Cancel
              </button>
            </div>
          </form>
        </mat-card>
    </div>
</div>
