/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.routerOutlet{
    background-color: aliceblue;
    height: calc(100vh - 64px);
}
.routerContent{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
.full-width-form{
    width: 100%;
}